{% extends "base_2.html" %}
{% load i18n cms_tags menu_tags sekizai_tags %}

{% block content %}
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
    		<td align="left" bgcolor="#FFFFFF" style="padding-left: 22px;padding-right: 22px; padding-bottom: 14px;">
    			<table width="100%" border="0" cellspacing="0" cellpadding="0">
      				<tbody>
      					<tr>
        					<td width="18%" valign="top" style="padding-top: 20px;">
        						<table width="100%" border="0" cellspacing="0" cellpadding="0">
          							<tbody>
          								<tr>
                                    		<td width="202" height="30" background="{{STATIC_URL}}images/neiye2_05.gif" class="tw_black_str" style="padding-left:20px;">联系我们</td>
          								</tr>
                                  		<tr>
                                  			<link href="{{STATIC_URL}}css/FrontCommonContent_list.css" rel="stylesheet" type="text/css" />
            								<td background="{{STATIC_URL}}images/neiye2_17.gif" style="padding:18px;">
            									<div id="sideMenu">
													<div id="FrontCommonContent_list-dhlxwm" class="FrontCommonContent_list-default">
														<ul>
                                                        	<li>
			                                                	<a href="/lxwm/&amp;contentid=b7965379-20e5-4b2f-9bbc-de08f4796300&amp;comp_stats=comp-FrontCommonContent_list-dhlxwm.html" title="联系方式"> 联系方式</a>
		                                                	</li>
	                                                	</ul>
													</div>
												</div>
											</td>
          								</tr>
          								<tr>
            								<td><img src="{{STATIC_URL}}images/neiye2_19.gif" width="202" height="12"></td>
                                      	</tr>
                                	</tbody>
                            	</table>
          						<table width="100%" border="0" cellspacing="0" cellpadding="0">
            						<tbody>
            							<tr>
                                          	<td width="202" style="padding-top:18px;"><a href="/ProductExhibitlist.html"><img src="{{STATIC_URL}}images/neiye2_21.gif" width="202" height="30"></a></td>
            							</tr>
                                    	<tr>
                                      		<td style="padding-top:5px;"><a href="/lxwm.html"><img src="{{STATIC_URL}}images/neiye2_23.gif" width="202" height="30"></a></td>
                                    	</tr>
                                  	</tbody>
      							</table>
  							</td>
                    		<td width="82%" align="right" valign="top" style="padding-top: 22px;">
  								
                    			<table width="733" border="0" cellpadding="0" cellspacing="0">
          							<tbody>
          							<tr>
            							<td height="29" align="left" background="{{STATIC_URL}}images/neiye2_07.gif" class="tw_black_str" style="padding-left:35px;">联系我们</td>
          							</tr>
          							<tr>
                                    	<td align="left" bgcolor="#FFFFFF" class="zybk" style="padding:20px;">
                                    		<div class="mainContent">
                                    			<div id="FrontCommonContent_showDetailByList-lxwm" class="FrontCommonContent_showDetailByList-default">
	                                    			<div class="content">
                                                   	<h3>联系方式</h3>
			                                    		<table border="0" cellpadding="0" cellspacing="0" width="680">
	                                                		<tbody>
                                                        		<tr>
                                                            		<td class="content_text" width="100%">
				                                                		<div align="center">
					                                                		<div align="left" class="unnamed11">
																				<strong>上海杰缘管业有限公司</strong><br>
																				<strong>武汉超前铸造有限公司 </strong><br>
						                                                		电话：<br>
							                                                	(上海)021-65921520&nbsp;&nbsp;&nbsp; 021-56809162、56809181、56809202<br>
							                                                	(武汉)027-87332800&nbsp;&nbsp;&nbsp; 027-87332135&nbsp;<br>
							                                                	(香港)852-96968718&nbsp;&nbsp;&nbsp; 852-30697508&nbsp;&nbsp;&nbsp; 852-30697507</div>
						                                                		<div align="left" class="unnamed11">
							                                                		传真：
						                                                		</div>
					                                                		<div align="left" class="unnamed11">
					                                                            (上海)021-56809167&nbsp;&nbsp; 　<br>
					                                                            (武汉)027-87332900
				                                                            </div>
					                                                		<div align="left" class="unnamed11">
					                                                            手机：13501646565，13061672501，13061900928，13916616216（香港）<br>
						                                                		联系人：兰先生 肖先生 潘小姐 王先生 李先生 刘先生（香港）<br>
						                                                		全国统一热线：400-607-7788<br>
						                                                		地址：<br>
						                                                		(上海)：上海湄星路1618号<br>
						                                                		(武汉)：中南路3号<br>
						                                                		(香港)：香港九龙长沙湾昌华街9号<br>
						                                                		E-mail：<a href="mailto:sales@surpssgroup.cn" target="_blank">sales@surpassgroup.cn</a> 　 <a href="mailto:sales@surpssgroup.net" target="_blank">sales@surpassgroup.net</a> 　 <a href="mailto:service@surpassgroup.cn" target="_blank">service@surpassgroup.cn</a> 　 <a href="mailto:service@surpassgroup.net" target="_blank">service@surpassgroup.net</a>
					                                                		</div>
																			<div align="left" class="unnamed11">
																				中文域名：超前集团.cc；超前集团.net；超前集团.biz；超前集团.tv；超前集团.公司；超前集团.网络；超前.net；超前.cc；超前.中国；超前.公司；超前.网络;超前集团.cn；超前钻石.cn;武汉超前.com;武汉超前.cn /中国;超前集团.com;超前.com;超前牌.com；超前牌.中国；超前牌.net；超前牌.网络；超前牌.公司；超前牌.cn；超前牌.tv；超前牌.cc<br>
																</div>
		                                                            	</div>
		                                                            </td>
	                                                            </tr>
	                                                            <tr>
			                                                		<td>&nbsp;</td>
	                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            	</div>
                                            </div>
                        		           	<div id="elem-FrontMap_show-ditu" name="企业地图">
												{% placeholder "googlemaps"%}
											</div>
            								</td>
                                  		</tr>
                                  	<tr>
                                    	<td><img src="{{STATIC_URL}}images/neiye2_27.gif" width="733" height="11"></td>
                                  	</tr>
                            		</tbody>
                        		</table>
                        	</td>
                  		</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
