{% load i18n cms_tags menu_tags sekizai_tags %}
<tbody>
	<tr>
		<td width="202" height="30" background="{{STATIC_URL}}images/neiye2_05.gif" class="tw_black_str" style="padding-left:20px;">
			{% page_attribute "page_title" request.current_page.parent %}
		</td>
	</tr>
	<tr>
		<td background="{{STATIC_URL}}images/neiye2_17.gif" style="padding:18px;">
			<div id="sideMenu">
				<div id="FrontCommonContent_list-dhabout" class="FrontCommonContent_list-default">
					<ul>
						<li>
							<a href="{% page_url request.current_page.get_root %}" title="{% page_attribute "page_title" request.current_page.parent_id %}">{% page_attribute "page_title" request.current_page.parent_id %}</a>
						</li>
						{% show_sub_menu %}
					</ul>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><img src="{{STATIC_URL}}images/neiye2_19.gif" width="202" height="12"></td>
	</tr>
</tbody>