{% extends "base_2.html" %}
{% load i18n cms_tags menu_tags sekizai_tags %}

{% block maincontent %}
	<link href="{{STATIC_URL}}css/FrontInfo_listMultiPage.css" rel="stylesheet" type="text/css">
	<td align="left" bgcolor="#FFFFFF" class="zybk" style="padding:20px;">
		<div id="elem-FrontInfoAdvanceSearch_showForm-new" name="信息高级搜索组件">
			<link href="{{STATIC_URL}}css/FrontProduct_list.css" rel="stylesheet" type="text/css">
			<div id="FrontProduct_simpleSearch-cpsou" class="FrontProduct_simpleSearch-default">
				<form id="FrontProduct_simpleSearch-cpsou_searchForm" method="get" action="/news/search/">{% csrf_token %}
					<label>关键字：</label>
					<input id="query_name" name="keyword" type="text" value="" maxlength="20">
					<input type="submit" class="button01" value="开始查询">
				</form>
			</div>
  		</div>
		
		
	    <div id="elem-FrontInfo_listMultiPage-neww" name="信息列表分页展示">
			<div class="FrontInfo_listMultiPage-default" id="FrontInfo_listMultiPage-neww">
				<div class="bottomC">
					<div class="left_top">
  						<div class="right_top">
							<h3 class="title" title="公司新闻">公司新闻</h3>
							{% for news in latest_news %}
							<ul class="content">
								<li class="title">
								  	<a href="{{ news.get_absolute_url }}" title="{{ news.title }}">{{ news.title }}...</a>
	      						</li> 
		    					<li class="date">[{{news.pub_date|date:"Y-M-d"}}]</li>
								<li class="skim">浏览次数: ({{news.count_viewed}})次</li>
		 					</ul>
							{% endfor %}
							<p>
								共 {{count}} 条
								<span class="up">
									{% if page_obj.has_previous %}
									<a href="?page={{ page_obj.previous_page_number }}" title="上页" >上页</a>
									{% else %}
									上页
									{% endif %}
								</span>
									 |
								<span class="down">
									{% if page_obj.has_next %}
									<a href="?page={{ page_obj.next_page_number }}">下页</a>
									{% else %}
									下页
									{% endif %}
								</span>
								第{{page_obj.number}}/{{ page_obj.paginator.num_pages }}页
							</p>
    					</div>
  					</div> 
 				</div>
			</div>
	   	</div>
   	</td>
{% endblock %}
